/*

Darko Bunic
http://www.redips.net/
Oct, 2010.

*/
body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* make drag container visible */
#redips-drag{
	border: 2px dashed LightBlue;
	display: table;
    width: 98.8%;
}

/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;
    table-layout:fixed;	
    width: 80%;
}

/* table cells */
div#redips-drag td{
	border: 1px solid rgb(0, 0, 0);
	height: 50px;
	text-align: left;
	font-size: 10pt;
	padding: 2px;
    background-color : white;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	/*margin: auto;*/
	text-align: center;
	width: 136px; /* 87px par defaut*/
	height: 35px;
	line-height: 35px;
	border: 2px solid SteelBlue;
	background-color: white;
    position: relative;
    display: inline-block;
    
/*
Concernant la taille :
    
    width: 95px => 6h->6h (= 0minutes)
    width: 195px => 6h->6h15(= 15 minutes)
    width: 295px => 6h->6h30(= 30 minutes)
    width: 395px => 6h->6h45(= 45 minutes)
    width: 495px => 6h->7h (= 60 minutes)
*/
}

/* "Load" button (needed for AJAX version) */
.button {
	margin: 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 44px;
	padding: 0px;
}
#controls{
    width : 130px;
  position: fixed;
  top:5%;
  right: 10%;
  border: solid black 4px;
  background-color: skyblue;
  z-index: 3;
  padding:30px;
  cursor:move;
  opacity: 0.8;
}
.modal {
  display: none;
  width: 450px;
  background-color: hsl(0, 0%, 95%);
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 7px 2px hsl(0, 0%, 8%),
              0 0 0 9999px hsla(0, 0%, 8%, .5);
  z-index: 50;
}
.modal .close {
  width: 16px;
  height: 16px;
  float: right;
  margin: 0 3px 0 0;
  cursor: pointer;
}
.modal .close:after {
  display: inline-block;
  content:'\00D7';
  font-size: 19px;
  transform: translate(3px, -5px);
}
.modal p {
  min-height: 100px;
  font-size: .8em;
  font-weight: 600;
  text-align: center;
  margin: 0px 0 20px 0;
}
.modal p.oneline {
  line-height: 100px;
}
.modal .controls {
  background-color: hsl(0, 0%, 3%);
  margin: -10px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 0 0 4px 4px;
}
.modal .controls a {
  width: 49%;
  display: inline-block;
  cursor: pointer;
  
  color: hsl(0, 0%, 97%);
  font-weight: 600;
  font-size: .8em;
  text-align: center;
  transition: text-shadow .4s;
}
.modal .controls a:first-child {
  border-right: 1px solid hsl(0, 0%, 4%);
}
.modal .controls a:hover {
  text-shadow: 0 0 7px hsla(0, 0%, 100%, .6);
}
#pageMessages {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 30%;
  z-index: 9000;
}

.alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right:.3em;
}
.FollowScreen{
  position: fixed;
  margin-left: 83.4%;
  width: inherit;
}
.fonctionnement{
    background-color : #00ace6 !important
    
}
.vehicule{
  background-color: rgb(245, 245, 220);
  text-align: center;
  font-size: 20;
  height: 35px;
  line-height: 35px;
}